/* Make the Translate dropdown look like a styled button */
#google_translate_element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}


.goog-te-combo {
    padding: 6px 18px !important;
    border-radius: 8px !important;
    font-size: 15px !important;
    border: 1.5px solid #1ABC9C !important;
    background: #f4f8fb !important;
    background-color: #1ABC9C !important;
    font-weight: 600 !important;
    box-shadow: 0 2px 8px rgba(44,62,80,0.07) !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;
}